* {
  margin: 0;
  padding: 0;
}
.menu-container {
  background-color: #aaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.logo-img {
  display: flex;
  width: 120px;
}
.items {
  display: flex;
  list-style-type: none;
  text-transform: capitalize;
  font-size: larger;
}
.item {
  margin-right: 20px;
  cursor: pointer;
}
.item:hover {
  color: aqua;
}
.banner-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/background.png"),
    linear-gradient(45deg, #111, #222);
  color: white;
}
.banner-text-heading {
  font-size: 50px;
  font-weight: bold;
}
.banner-text-para {
  font-size: 20px;
  margin: 15px 0;
}
.btn {
  background-color: rgb(187, 8, 8);
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.banner-img {
  width: 300px;
}
.section-header {
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}
.about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
}
.inner-img {
  width: 300px;
}
.description {
  margin: 20px 0;
}
.service-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-image: url("../images/background.png"),
    linear-gradient(45deg, #333, #222);
  background-position: center;
  background-repeat: no-repeat;
}
.box {
  width: 200px;
  background-color: hsla(0, 0%, 7%, 0.453);
  color: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px gray;
  padding: 15px;
  text-align: center;
}
.box-photo {
  width: 70px;
  padding: 10px;
}
.box-title {
  font-size: 28px;
  margin: 10px 0;
}
.box-content {
  text-align: center;
  margin-bottom: 15px;
}
.box-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.contact-info {
  display: flex;
  justify-content: space-around;
}
.contact-section {
  padding: 100px 0;
  background-color: #111;
  color: white;
}
.section {
  width: 200px;
  font-size: 18px;
}
ul li {
  list-style: none;
  padding: 2px 0;
}
h3 {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.logo-description {
  margin-top: 20px;
}
.my-hr {
  border-color: white; /* Replace "red" with your desired color */
  margin-top: 20px;
}
.copyright {
  margin-top: 20px;
  text-align: center;
}
